<div class="search-container">
  <label>
    Upload:
    <input type="text" [(ngModel)]="search.upload" />
  </label>

  <label>
    Ship_To:
    <input type="text" [(ngModel)]="search.shipTo" />
  </label>

  <label>
    Date:
    <input type="date" [(ngModel)]="search.date" />
  </label>

  <button class="search-btn" (click)="runSearch()">Search</button>
</div>

<!-- Existing file list -->
<h3>My Uploaded Files</h3>
<ul>
  <li *ngFor="let file of files">
    {{ file.filename }} ({{ file.uploadedAt }})
    <button (click)="delete(file.id)">Delete</button>
  </li>
</ul>
<p *ngIf="!files.length">No files found.</p>
